<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :row1 %>
    <%= form.text_field :row1 %>
  </div>

  <div class="field">
    <%= form.label :row2 %>
    <%= form.text_field :row2 %>
  </div>

  <div class="field">
    <%= form.label :row3 %>
    <%= form.text_field :row3 %>
  </div>

  <div class="field">
    <%= form.label :row4 %>
    <%= form.text_field :row4 %>
  </div>

  <div class="field">
    <%= form.label :row5 %>
    <%= form.text_field :row5 %>
  </div>

  <div class="field">
    <%= form.label :row6 %>
    <%= form.text_field :row6 %>
  </div>

  <div class="field">
    <%= form.label :rowFail %>
    <%= form.text_field :rowFail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
