<% if notice %>
  <p id="notice" class="bg-amber-200 border border-amber-300 p-2 max-w-2xl mx-auto my-4"><%= notice %></p>
<% end %>
<section class="antialiased text-gray-600 h-screen">
  <div class="flex flex-col justify-center">
    <!-- Table -->
    <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
      <header class="px-5 py-4 border-b border-gray-100 flex items-center">
        <h2 class="font-semibold text-gray-800">People</h2>
        <%= link_to 'Quick Edit', people_quick_edit_path, class: 'py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-full ml-auto' %>
        <%= link_to 'New Person', new_person_path, class: 'py-2 px-4 bg-green-500 hover:bg-green-600 text-white rounded-full ml-2' %>
      </header>
      <div class="p-3">
        <div class="overflow-x-auto">
          <table class="table-auto w-full">
            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
              <tr>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Name</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Average</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Stats</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Actions</div>
                </th>
              </tr>
            </thead>
            <tbody class="text-sm divide-y divide-gray-100">
              <% @people.each_with_index do |person, index| %>
                <tr>
                  <td class="p-2 whitespace-nowrap">
                    <div class="flex items-center">
                      <span class="bg-gray-200 text-gray-600 text-xs font-semibold px-2 py-1 rounded-full mr-2"><%= index + 1 %></span>
                      <div class="font-medium text-gray-800 text-lg"><%= person.name %></div>
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-3xl font-bold text-green-500"><%= person.average.round(2) %></div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="flex items-center mb-0.5">
                      <div class="bg-gradient-to-r from-green-500 via-yellow-500 to-red-500 rounded-full inline-flex text-xs text-white">
                        <div class="border-r border-white p-0.5 pl-1"><%= person.row1 %></div>
                        <div class="border-r border-white p-0.5"><%= person.row2 %></div>
                        <div class="border-r border-white p-0.5"><%= person.row3 %></div>
                        <div class="border-r border-white p-0.5"><%= person.row4 %></div>
                        <div class="border-r border-white p-0.5"><%= person.row5 %></div>
                        <div class="p-0.5 pr-1"><%= person.row6 %></div>
                      </div>
                      <div class="bg-black rounded-full ml-0.5 py-1 px-1.5 text-xs text-red-500 font-bold leading-3"><%= person.rowFail %></div>
                    </div>
                    <p class="text-xs text-gray-400"><%= person.score %> pts / <%= person.rounds %> rds, latest score: <%= person.last_score %><br />
                      Last updated <%= distance_of_time_in_words_to_now(person.updated_at) %> ago</p>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="flex">
                      <div><%= link_to 'Edit', edit_person_path(person), class: 'bg-gray-100 hover:bg-gray-200 rounded-full px-2 py-1 mr-1' %></div>
                      <div><%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-400 hover:bg-red-500 text-white rounded-full px-2 py-1' %></div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
